<footer class="footer ">
        <div class="content has-text-centered">
          <p>
          Data provided by <strong><a href="https://pokeapi.co/" target="_blank" class="is-link">PokeAPI</a></strong>.
          </p>
        </div>
      </footer>
      <script src="/js/index.js"></script>
</body>

</html>