<div class="backdrop"></div>


<nav class="navbar is-danger" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="https://pokeapi.co/" target="_blank" class="navbar-item">PokeAPI </a>
    </div>
  </nav>
