<%- include('includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('includes/navigation.ejs') %>
    <section class="section">
     <h1 class="title is-size-1">Lyricks</h1>
    </section>

    <%- include('includes/end.ejs') %>