<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <section class="section">
           <form action="/search" method="POST">
                <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Text input" required name="name">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Subject</label>
                        <div class="control">
                          <div class="select">
                            <select name="subject" required>
                              <option>Pokemon</option>
                              <option >Berry</option>
                              <option >Item</option>
                              <option>Move</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-link">Submit</button>
                        </div>
                      </div>
           </form>  
    </section>
    

        
   

<%- include('includes/end.ejs') %>





      